
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{% static 'todoapp/index.css' %}"/>
    <script src="{% static 'todoapp/index.js' %}"></script>
</head>
<body>

    <main>
        <header>
            <a href="{% url 'todoapp:index' %}"><h1>Todo App</h1></a>
            <div>
                {% if user.is_authenticated %}
                Welcome {{ user.username }}
                <a href="{% url 'users:logout_user' %}">Logout</a>
                {% else %}
                <a href="{% url 'users:login_page' %}">Login</a>
                <a href="{% url 'users:register_page' %}">Register</a>
                {% endif %}
            </div>
        </header>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </main>
</body>
</html>