{% extends 'todoapp/base.html' %}

{% block content %}
    <form action="{% url 'todoapp:add_todo' %}" method="post">
        {% csrf_token %}
        <input type="text" name="todo_text" placeholder="Todo item"/>
        <select name="todo_priority_id">
            <option value="" selected disabled>Priority...</option>
            {% for priority in priorities %}
            <option value="{{priority.id}}">{{priority.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Create Todo</button>
    </form>
    <ul>
        {% for todo_item in todo_items %}
        <li>{{ todo_item.text }}</li>
        {% endfor %}
    </ul>
{% endblock %}