{%extends 'contactapp/base.html'%}
    

{% block content %}
<h1>Detail Page</h1>
<hr>
    <table class="table table-striped">
      <tbody>
      <tr>
      <!-- <td>first name</td> -->
        <!-- <td>{{contact.id}}</td> -->
      </tr>
      <tr>
        <td> First Name :</td>
        <td>{{contact.first_name}}</td>
      </tr>
      <tr>
        <td>Middle Name :</td>
        <td>{{contact.middle_name}}</td>
      </tr>
      <tr>
        <td>Last Name : </td>
        <td>{{contact.last_name}}</td>
      </tr>  
      <tr>
        <td>Email :</td>
        <td>{{contact.email}}</td>
      </tr>
      <tr>
        <td>Notes</td>
        <td>{{contact.notes}}</td>
      </tr>
      <tr>
        <td>
          <a href="{% url 'contactapp:index' %}" class="btn btn-primary">Back</a>
          <a href="{% url 'contactapp:delete_contact' contact.id %}" class="btn btn-danger">Delete (link)</a>
        </td>
        <td></td>
      </tr>
  
    </tbody>
  </table>
    
{% endblock %}
    
    
    
    
    