<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="noun1" placeholder="Noun"/>
        <span>{{noun1}}</span>
        <br/>
        <input type="text" v-model="noun2" placeholder="Noun"/>
        <span>{{noun2}}</span>
        <br/>
        <input type="text" v-model="noun3" placeholder="Noun"/>
        <span>{{noun3}}</span>
        <br/>
        <input type="text" v-model="noun_plural" placeholder="Plural Noun"/>
        <span>{{noun_plural}}</span>
        <br/>
        <input type="text" v-model="place" placeholder="Place"/>
        <span>{{place}}</span>
        <br/>
        <input type="text" v-model="adjective" placeholder="Adjective"/>
        <span>{{adjective}}</span>
        <br/>
        <button v-on:click="showMadLib">Show Mad Lib</button>
        <pre>{{madlib}}</pre>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                noun1: '',
                noun2: '',
                noun3: '',
                noun_plural: '',
                place: '',
                adjective: '',
                madlib: ''
            },
            methods: {
                showMadLib: function() {
                    this.madlib = `Be kind to your ${this.noun1}-footed ${this.noun_plural}
For a duck may be somebody's ${this.noun2},
Be kind to your ${this.noun_plural} in ${this.place}
Where the weather is always ${this.adjective}.

You may think that this is the ${this.noun3},
Well it is.`
                }
            }
        })
    </script>
</body>
</html>