

body {
    margin: 0;
    background-color: lightblue;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
}

header {
    background-color:darkblue;
    color:white;

    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    padding: 20px;

}

#app {
    padding: 20px;
}

.contact {
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 4px 10px lightgrey;
    margin-bottom: 20px;
}

.contact img {
    width:100px;
    border: 1px solid lightgrey;
    margin-right:20px;
}



.btn {
    color:white;
    background-color:blue;
    padding: 4px;
    outline: 0;
    border: 1px solid lightgrey;
    cursor: pointer;
    user-select:none;
    transition: all 200ms;
}
.btn.selected_page {
    background-color:black;
}

h3 {
    margin: 0;
}


